<template name="aboutus">
<div id="aboutus">
<h3>About</h3>

<p>Klfilm vous aide à retrouver un moment de détente entre amis pour papoter et partager vos bons films de la façon la plus simple qu'elle soit:  juste proposer votre bon film d'hier soir et même celui de la dernière fois, inviter vos amis et papoter et partager ce film;  Voilà ! que la discussion continue ;) <br/><br/>

À l'instar de vos amis, d'autres gens  (qui ont déjà vu ce film ou pas ) viennent pour enrichir la discussion, liker  votre film  et même le partager sur les réseaux sociaux pour leurs amis qui ne savent pas quoi regarder ce soir. <br/><br/>

Avec cette notion de partage, moins d'effort et plus de choix pertinents en moins de temps.<br/>
<br/>

 Klfilm vous invite à ne pas poser des liens illégaux et se décharge de toute responsabilité concernant ces liens.</p>
</div>

<a href="https://twitter.com/klfilm" target="_blanck">
<img src="/1409016383_twitter follow me.png" id="twit"></a>
<a href="#"><img src="/1409017790_facebook.png"></a>
<footer class="navbar navbar-fixed-bottom"  role="navigation">

<p> © 2014, Klfilm - Tous droits réservés</p>

</footer>
</template>