<template name="linkSubmit">
<form class="main">
<div class="control-group">
<label class="control-label" for="url">Genre</label>
<div class="controls">
<input name="url" type="text" value="" placeholder="Ex: Drame"/>
</div>
</div>
<div class="control-group">
<label class="control-label" for="title">Titre</label>
<div class="controls">
<input name="title" type="text" value="" placeholder="Ex: Ce que le jour doit à la nuit"/>
</div>
</div>
<div class="control-group">
<label class="control-label" for="ur">URL</label>
<div class="controls">
<input id="urll" name="ur" type="text" value="" placeholder ="URL de bande annonce" />
</div>
</div>
<div class="control-group">
<div class="controls">
<input type="submit" value="Proposer" class="btn btn-primary"/>
</div>
</div>
</form>
</template>